.main{
    width: 90%;
    margin: 1rem auto;
    display: flex;
    gap: 1rem;
}
.mainPage{
    display: grid;
}
.user{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 1rem;
    text-align: center;
    width: 25rem;
    border-radius: 10px;

}
.user img{
    border-radius: 50%;
    width: 70%
}
.user h4{
    color: rgb(164, 144, 144);
    margin-top: 0
}
.button{
    display: flex;
    width: 100%;
    margin: 3rem auto 0px;
    gap: 0.5rem;
}
.button button{
    width: 40%;
    padding: 0.8rem;
    border-radius: 50px;
    margin: auto;
    font-size: 22px;
    color: white;
    border: none;
}
.button button:first-child{
    background-color: rgb(103, 103, 169);
}
.button button:last-child{
    background-color: rgb(9, 191, 100);
}
.tech ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    gap: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-align: start;
    padding: 1rem;
    border-radius: 10px

}
.tech ul li{
    display: flex;
    gap:1rem;
    background-color: skyblue;
    font-size: 18px;
    font-family: monospace;
    font-weight: 500;
    padding: 5px
}